.slider{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.slide{
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    animation: slider 20s linear infinite;
    white-space: nowrap;
}

.slider::before {
    position: absolute;
    content: "";
    height: 160px;
    width: 40%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #04091A);
    z-index: 2;
}

.slider::after {
    position: absolute;
    right: 0;
    content: "";
    height: 160px;
    width: 40%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #04091A);
    z-index: 2;
}

.contact-info{
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 500;
    color: #ffffff;
    overflow: hidden;
}

.contact-item{
    margin-left: 400px;
}

.contact-item .icon{
    width: 30px;
    height: 30px;
}

.contact-item a{
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
}

.contact-info::after{
    content: "";
    position: relative;
    width: 1000px;
    height: 200px;
    border-radius: 100%;
    background: #0021db57;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    filter: blur(180px);
}


@keyframes slider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
    
}