.arz-header{
    margin: 10px 0;
    backdrop-filter: blur(10px);
    background: linear-gradient(-5deg, rgba(255,255,255,0.1) 50%, rgba(255, 255, 255, 0.247) 100%);
    border: 1px solid #515152;
    padding: 10px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 1000;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

.arz-header .arz-logo{
    height: 40px;
    padding: 0 10px;
} 

.arz-header h1{
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
    margin-left: 20px;
}

.arz-header nav{
    margin-right: 20px;
}

.arz-header nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.arz-header nav ul li{
    display: inline;
}

.arz-header nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s;
    color: #ffff;
}

.arz-header nav ul li a:hover{
    background-color: #d6d6d6;
    filter: drop-shadow(0 0px 8px rgb(25, 132, 255));
    color: #000;
}

.arz-header.sticky{
    width: 60%;
}

/*mobile*/
@media (max-width: 768px){
    .arz-header{
        width: 90%;
        border-radius: 12px;
    }

    .arz-header nav ul li a{
        font-size: 1rem;
    }

}